			</section>
		
			<footer class="footer span-12">
				{{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'profile', 'refreshtime':'1800000'})|raw}}
			</footer>
		</div>
	</div>
	{% include basekit.bodyScript %}
</body>
</html>