@import "@{templateCommon}/basekit-bootstrap.less";

// Flynn grid
@import "@{templateLocal}/flynn/reset.less";
@import "@{templateLocal}/flynn/grid.less";
//@import "flynn/type.less";

body {
  background: image('/images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ===============================
   0. CUSTOM CSS
   =============================== */

.widget.feature .feature-bgimg .content .spare {
	padding:0px 60px;
}

.widget {
	clear: both;
}

/* ===============================
   0. STRUCTURE/HEADER
   =============================== */

.container {
	margin: 30px auto 40px;
	@media @tablet {
		margin: 0px auto 10px;
	}
}

.header, .bloglist-page .blog-post-item, .blogpost-page, .default-page, .menu-page, .home-page, .gallery-featured, .contact-page, .about-page {
	padding: 40px;
	background: @color-swatch1;
	@media @tablet {
		padding: 30px;
	}
}

.header {
	@media @tablet {
		.widget.profile .bk-profile-socialicons {
			margin: 0;
		}
		aside {
			margin: 30px 0 0;
		}
	}
	@media @mobile {
		aside {
			margin: 0;
		}
	}
}

.article.home-page {
	padding:0px;
}

.bloglist-page .blog-post-item, .blogpost-page, .default-page, .menu-page, .home-page, .gallery-featured, .contact-page, .about-page {
	width: 100%;
}

.article.home-page {
	padding: 20px;
}

.widget.logo, .widget.companyname {
	display:inline-block;
}

.footer {
	clear: both;
	text-align: center;
	padding:40px 0px;
}

/* ===============================
   1. GLOBAL
   =============================== */

a {
	color: @color-swatch2;
}
.left, .blog-post-pagination-pagepaginate-newer {
	text-align: left;
	float: left;
}
.right, .blog-post-pagination-pagepaginate-older {
	text-align: right;
	float: right;
}
button, button span, .widget.tweet a, input[type="submit"] {
	color: @font-swatch7-color;
}

button.btn {
	padding: 6px 14px;
}


/* ===============================
   2. NAVIGATION
   =============================== */

.nav {
	margin: 20px 0px;
	@media @tablet {
		margin: 0;
	}
	li {
		margin-left: 0;
		float: none;
		width: 100%;
	}
	a:hover, .nav .widget .extendednavigation ul li .text:hover {
		text-decoration: none;
		color: @font-swatch6-color;
	}
	.widget .extendednavigation {
		position: relative;
		> ul {
			list-style: none;
			float: none;
			overflow: hidden;
			> li {
				padding-right: 20px;
				&.folder .text, a {
					padding:0px;
				}
				&.folder {
					&:after {
						top: 15px;
					}
					&:hover {
						ul {
							position: relative;
							width: 100%;
							padding: 20px;
							background-color:darken(@color-swatch1,5%);
						}
					}
				}
			}
		}
		@media @mobile {
			min-height: 60px;
		}
		.pull {
			top: 0px;
		}
	}
}

// Overlay
.widget.extendednavigation .bk-overlay {
	@media @tablet {
		width: 100%!important;
	}
}

.social {
	padding-top: 1em;
	a {
		padding: .2em;
		display: inline-block;
	}
}
.widget.gallery ul {
	margin-top: 20px;
	margin-left: -20px;
	li {
		margin-left: 20px;
	}
}

// 5. DESIGN SPECIFIC

.widget.responsiveslideshow .content-wrapper {
	background-color: @color-swatch6;
}
.widget.menu .main {
	position: relative;
	width: 100%;
}
.menu-item-image-wrap {
	background-size: cover;
	background-position: 9999% 9999%;
}
.not-spicy-icon.dietary-icon {
	display: none;
}

.widget.contactform fieldset input, .widget.contactform fieldset textarea, input[type=""] {
	border: 0;
	background-color:darken(@color-swatch1,5%);
	padding:10px;
}

.widget.contactform fieldset textarea {
	height:150px;
}

.widget.button button:hover {
	background-color:darken(@color-swatch3,5%);
}

.blog-list-footer {
	clear: both;
	&:after, &:before {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.widget.profile form button {
	padding: 7px 14px 5px;
}

.widget.responsiveslideshow .slideshow-widget .btn-play {
	height:50px;
}

.widget.responsiveslideshow .slideshow-widget .btn-prev, .widget.responsiveslideshow .slideshow-widget .btn-next {
	padding:5px;
	background-color:#ddd;
}

input, textarea {
	border:0;
	background-color:darken(@color-swatch1,5%);
	padding:10px;
	font-size:@font-swatch7-font-size;
    border-radius:0;
}

.widget.profile form fieldset input {
	text-indent:0;
	height:40px;
}

.widget.responsiveslideshow li {
	margin:0;
}

.widget.responsiveslideshow .btn-play.pause:after {
	line-height: 51px;
}

.widget.responsiveslideshow .slideshow-widget .btn-play {
	top:41%;
}

.widget.signupform {
	margin-bottom: 10px;
}

.signupform fieldset button {
	padding: 10px 14px;
}

.signupform fieldset input {
	width:75%;
}

.widget.profile span, .widget.profile p {
	font-family: @font-swatch6-font-family;
    font-size: @font-swatch6-font-size;
    font-weight: @font-swatch6-font-weight;
    line-height: @font-swatch6-line-height;
    color: @font-swatch6-color;
    letter-spacing: @font-swatch6-letter-spacing;
}

/* ===============================
   6. MENU
   =============================== */

.dietary-icon {
	background-color:@color-swatch3;
	color:@font-swatch7-color;
	padding:5px;
}

.menu-item-promoted {
	background-color: darken(@color-swatch1,6%);
	padding:20px!important;
}

.menu-subsection-wrapper.menu-subsection-promoted {
	background-color: darken(@color-swatch1,3%);
	padding:40px;
}

.menu .menu-subsection {
	padding:0;
}

.menu-item-price p {
	font-family: @font-swatch4-font-family;
    font-size: @font-swatch4-font-size;
    font-weight: @font-swatch4-font-weight;
    line-height: @font-swatch4-line-height;
    color: @font-swatch4-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

.menu-subsection-header h2 {
	font-family: @font-swatch2-font-family;
    font-size: @font-swatch2-font-size;
    font-weight: @font-swatch2-font-weight;
    line-height: @font-swatch2-line-height;
    color: @font-swatch2-color;
    letter-spacing: @font-swatch2-letter-spacing;
}

.menu-subsection-wrapper.menu-subsection-promoted, .menu-item.menu-item-promoted {
	margin-left:0;
}

/* ===============================
   6. BLOG
   =============================== */

.blog-post-publish-date, .blog-post-published-date {
	float: right;
	color: @color-swatch4;
	z-index: 1;
	position: relative;
}
.blog-post-date {
	font-size: inherit;
}
.blog-post-category p {
	display: inline;
	a {
		font-size: inherit;
	}
}
.blog-post-tags {
	ol {
		font-size: inherit;
	}
	p, ol {
		display: inline;
		li {
			margin-left: 0;
			&:after {
				color: @color-swatch4;
				content: ",";
			}
			&:nth-last-of-type:after {
				display: none;
			}
		}
	}
}
.blog-post-item, .blogpost-page {
	&.has-image {
		.blog-post-publish-date, .blog-post-published-date {
			color: @font-swatch5-color;
		}
	}
	.blog-post-publish-date, .blog-post-published-date {
		text-shadow: none;
	}
}
.blog-post-feature-image-wrap {
	background-image: none;
	img {

	}
}
.blogpost-page, .bloglist-page .blog-post-item {
	position: relative;
	overflow: hidden;
}
.article {
	position: relative;
	overflow: hidden;
}

.blog-post-item.has-image {
	padding:0px 0px 40px 0px;
	margin-bottom:20px;
}

.blog-post-title {
	padding-top:20px;
}

.blog-post-feature-image-wrap {
	background-repeat: no-repeat;
	width: inherit;
	img {
		width:100%;
	}
}

.blogpost, .blog-post-list {
   .blog-post-feature-image-wrap {
       line-height: 0;
       background-size: cover;
       background-position: center;
       width: auto;
       img {
       }
   }
}

.widget.blogsearch {
	display:block;
	clear:both;
	margin:10px 0px;
	label {
		height: 0;
		text-indent: -200px;
		overflow: hidden;
		padding-top: 0;
	}
	input[type=search], input[type=search]:focus {
		width: 70%;
		border-radius: 0;
		border: none;
		padding: 10px 0px;
		margin-right: -3px;
		background-color:darken(@color-swatch1,5%);
		border-radius:0;
	}
	button {
		border-radius: 0;
		border: none;
		background-image: image('/images/icon-search.png');
		background-size: 18px 18px;
		background-position: right center;
		background-repeat: no-repeat;
		padding: 13px 14px 11px 14px;
		background-color:@color-swatch3;
	}
	button:hover {
		background-color:darken(@color-swatch3,5%);
	}
}

.blog-post-item.has-image a {
	color:@font-swatch4-color;
}

.blog-post-item.has-image .blog-post-published-date {
	float:left;
}

.blog-post-metadata {
	margin: 10px 0;
}

.blog-post-sharing {
	margin-top: 10px;
}





// -----------------------------
// Ecommerce
// -----------------------------



// Product List
.widget.ecomproductslist,
.widget.ecomfeaturedproducts {
	margin-bottom: 3em;


    .ecom-productslist-product,
    .ecom-featuredproducts-product {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
        &:hover {
	        .ecom-productslist-title, .ecom-productlist-price,
	        .ecom-featuredproducts-title, .ecom-featuredproducts-price {
	            color: @color-swatch5;
	            &:hover {
					text-decoration: none;
	            }
	        }
		}


        // Image Wrap
        .ecom-productslist-image-wrap,
        .ecom-featuredproducts-image-wrap {
            margin-bottom: 1em;
            background-color: none;
        }
        a:hover {
			text-decoration: none;
        }
    }


    // Pagination
    .productlist-pagination {
        margin-left: 3%;
        border-top: 1px solid darken(@color-swatch1,7%);
        padding-top: 1em;
        margin-top: 3em;
    }
}


// Product Title
.ecom-productslist-title,
.ecom-featuredproducts-title {
	padding: 0;
	font-size: @font-swatch4-font-size;
	line-height: @font-swatch4-line-height;
	font-weight: normal;
}


// Product list Price
.ecom-productlist-price,
.ecom-product-price,
.checkout-pricepu,
.checkout-amount {
	font-family: @font-swatch2-font-family;
	color: @color-swatch5;
}


.checkout-total-amount {
	margin-bottom: 1em;
	font-family: @font-swatch4-font-family;
	font-size: @font-swatch4-font-size;
	font-weight: @font-swatch4-font-weight;
	line-height: @font-swatch4-line-height;
	letter-spacing: @font-swatch4-letter-spacing;
	color: @font-swatch4-color;
}


.checkout-pricepu,
.checkout-amount {
	@media @mobile {
		font-size: 16px;
	}

}





// -----------------------------
// #Select-Boxes
// -----------------------------


.productlist-filter,
.delivery {
	select {
		height: 35px;
		margin-bottom: 12px;
	    padding: 8px 33px 8px 8px;
	    border: 1px solid @color-swatch2;
	    background-color: @color-swatch1;
	    color: @color-swatch5;
	    cursor: pointer;
	    &:focus {
			outline: 0;
	    }
	    @supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal)
		.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
		select, .svg .widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select, .svg select {
		// Remove the arrow added to the background
		background-image: none;
		}
		@media @mobile {
			        width: 100%;
	    }
	}
	select::-ms-expand {
	    display: none;
	}
	select[name="displayCount"] {
	    margin-bottom: 0;
	}
}





// -----------------------------
// #Product-Filter
// -----------------------------


// Shame CSS
.widget.ecomproductslist .productlist-filter .productlist-display-form .form-group {
	@media @mobile {
        margin-bottom: 0;
    }
}

.productlist-filter {
    .form-group {
        display: inline-block;
        vertical-align: top;
        @media @mobile {
            width: 100%;
            margin-bottom: 0;
        }
    }


    // Label
    label {
    	font-family: @font-swatch2-font-family;
    	font-size: 14px;
        color: @color-swatch4;
		line-height: @font-swatch4-line-height;
		font-weight: normal;
		display: block;
    }


	// Product Search
    .productlist-search {
    	@media @mobile {
        margin: 10px 0;
        }
        label {
        	margin-bottom: 0;
        }
        input {
        	position: relative;
        	max-width: 170px;
            height: 35px;
            border: 1px solid @color-swatch2;
        	background-color: @color-swatch1;
        	-webkit-appearance: none;
            -moz-appearance: none;
            -webkit-border-radius: 0;
            @media @mobile {
                width: 100%;
                max-width: 100%;
                margin-bottom: 12px;
            }
        }
        .btn {
				position: relative;
				margin: 0;
				padding: 5px 14px;

                &:hover {
                    background-color: darken(@color-swatch2, 10%);
                }

            @media @mobile {
            	margin-bottom: 10px;
            }
        }
    }
}
// Item Count
.productlist-item-count {
	font-family: @font-swatch4-font-family;
	font-size: 14px;
	font-weight: @font-swatch4-font-weight;
	line-height: @font-swatch4-line-height;
	letter-spacing: @font-swatch4-letter-spacing;
	color: @color-swatch5;
}




/// Basket
// -----------------------------

.widget.ecombasket {
	margin-bottom: 2em;
	// Basket
	.ecombasket-pull {
		text-transform: uppercase;
		border: 2px solid @color-swatch1;
		background-color: @color-swatch3;
		width: 170px;
		padding: 8px 14px 8px 37px;
		background-image: image('/images/basket-white.svg');
		background-repeat: no-repeat;
        background-position: 12% 48%;
        background-size: 18px;
		&:hover {;
			background-color: @color-swatch2;
			&:hover {
				p, .basket-count {
					color: @color-swatch1;
				}
			}
		}
		p, .basket-count {
			font-family: @font-swatch7-font-family;
			font-size: @font-swatch7-font-size;
			font-weight: @font-swatch7-font-weight;
			line-height: @font-swatch7-line-height;
			letter-spacing: @font-swatch7-letter-spacing;
			color: @font-swatch7-color;
		}
		p:before {
			display: none;
		}
	}
	// Content Dropdown
	.ecombasket-item-title,
	.ecombasket-item-price,
	.ecombasket-total-wrap p
	 {
		font-family: @font-swatch2-font-family;
    	font-size: 16px;
        color: @color-swatch4;
		line-height: @font-swatch4-line-height;
		font-weight: normal;
	}
	// List Container
	.ecombasket-list-container {
		width: 300px;
		padding: 20px;
		margin-top: 4px;
		border: 1px solid @color-swatch7;
		border-top: 2px solid @color-swatch2;
        background-color: @color-swatch1;
        @media @mobile {
        	width: 100%;
        }
        ul li {
        	position: relative;
    		border-bottom: 1px solid darken(@color-swatch1,15%);
        }
	    // Checkout Button
	    .ecombasket-checkout-wrap {
	    	margin: 0;
	    	a.ecombasket-checkout-link {
		    	padding: 6px 8px;
				background-color: @color-swatch3;
				color: @color-swatch1;
				letter-spacing: @font-swatch7-letter-spacing;
				font-size: 12px;
				box-shadow: none;
				border: none!important;
				&:hover {
					background-color: @color-swatch2;
					color: @color-swatch1;
				}
			}
		}
	}
	.ecombasket-item-count-wrapper {
		position: relative;
		top: -2px;
		font-family: @font-swatch4-font-family;
		font-size: 12px;
		line-height: 16px;
		color: @color-swatch5;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	// Remove Button
	.ecombasket-remove-button {
        background-color: @color-swatch3;
        color: @font-swatch7-color;
        display: inline-block;
        font-size: bkscale(@font-swatch5-font-size, 0.8);
        text-decoration: none !important;
        padding: 0 0.6em;
        border: none;
        line-height: 1.4;
        &:hover {
            background-color: darken(@color-swatch3, 10%);
        }
    }
	// Price
	.ecombasket-total {
		color: @color-swatch5;
	}
	// view basekt button
	a.btn.ecombasket-summary-link {
		text-decoration: none;
	}
}


// Basket Summary
.widget.ecombasketsummary {


    // Empty basket

    .basket-summary-empty-copy {
        margin: 2em 0;
    }


    // Checkout Items
    table.basket-summary-items-table {
        margin-bottom: 30px;
        border-spacing: 0;
        width: 100%;


        tr {
            @media @mobile {
                display: block;
            }
            td, th {
                padding: 20px 0;
                border-bottom: none;
                @media @mobile {
                    display: block;
                    padding: 10px 0 0 0;
                }
            }
            td {

            }
            th {

            }
        }


        // Table Head
        tbody tr:first-child {
            @media @mobile {
                display: none;
            }
            th {
                border-bottom: 1px solid darken(@color-swatch1,10%);
                &:nth-child(2) {
                    border-right: 0px darken(@color-swatch1,10%);
                }

            }
        }


        // Item
        tr.basket-summary-items {
            @media @mobile {
                position: relative;
                border-top: 1px darken(@color-swatch1,10%);
                padding: 0 0 10px 0;
                margin: 0 0 10px 0;

            }

            td {
                border-bottom: 1px darken(@color-swatch1,10%);
                @media @mobile {
                    border-bottom: none;
                }
            }


            // Image
            td:nth-child(1) {
                @media @mobile {
                    width: auto;
                }
                .image-wrap {
                    width: 100%;
                    height: 0;
                    padding-bottom: 100%;
                    float: none;
                    background-size: cover;
                    background-position: center;
                    @media @mobile {
                        padding-bottom: 0;
                        height: auto;
                        background-position: -1000px;
                    }
                    img {
                        display: none;
                        @media @mobile {
                            display: block;
                            width: 60%;
                            height: auto;
                        }
                    }
                }
            }


            // Product info
            td:nth-child(2) {
                padding-left: 1em;
                padding-right: 170px;
                vertical-align: top;
                position: relative;
                @media @tablet{
                    padding-right: 0;
                    float: left;
                }
                @media @mobile {
                    width: auto;
                    padding-left: 0;
                    border-right: none;
                    float: none;
                }
                // Name
                .basket-summary-productname {
                    font-size: @font-swatch4-font-size;
                    display: block;
                    @media @mobile {
                        font-size: bkscale(@font-swatch4-font-size, 0.8);
                    }
                }


                // Price
                .basket-summary-pricepu {
                    font-size: @font-swatch4-font-size;
                    @media @mobile {
                        font-size: bkscale(@font-swatch4-font-size, 0.8);
                    }
                }


                // Quantity label
                .basket-summary-quantity {
                    width: 150px;
                    position: absolute;
                    right: 20px;
                    display: block;
                    top: 0px;
                    height: 20px;
                    line-height: 30px;
                    text-align: center;
                    font-size: bkscale(@font-swatch5-font-size, 0.8);
                    @media @tablet {
                        position: relative;
                        right: 0;
                        top: 0;
                    }
                    @media @mobile {
                        width: 130px;
                        height: 50px;
                    }
                }
                // Quantity button
                .basket-summary-quantitybtn {
                    background-color: transparent;
                    margin: 0;
                    position: absolute;
                    width: 150px;
                    height: 40px;
                    @media @tablet {
                        position: relative;
                        right: 0;
                        top: 0;
                        float: right;
                    }

                    @media @mobile {
                        height: 30px;
                        width: 130px;
                        float: none;
                    }
                    button {
                        font-family: @font-swatch5-font-family;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 40px;
                        border: none;
                        cursor: pointer;
                        padding: 0;
                        color: @color-swatch1;
                        background-color: @color-swatch3;
                        position: absolute;
                        top: 0;
                        width: 40px;
                        height: 40px;


                        @media @mobile {
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                        }

                        &:hover {
                            background-color: darken(@color-swatch3, 10%);
                        }

                        &.js-remove {
                            left: 0;
                        }
                        &.js-add {
                            right: 0;
                        }
                    }


                    // Count
                    span {
                        background-color: darken(@color-swatch1, 6%);
                        color: invert(@color-swatch2);
                        height: 40px;
                        line-height: 40px;
                        position: absolute;
                        left: 40px;
                        right: 40px;
                        text-align: center;
                        top: 0;
                        display: block;
                        width: 70px;
                        @media @mobile {
                            height: 30px;
                            line-height: 30px;
                            left: 30px;
                            right: 30px;
                        }
                    }
                }
            }

            td.basket-summary-amount {
                text-align: right;
                @media @mobile {
                    text-align: left;
                    position: absolute;
                    right: 0;
                    bottom: 10px;
                }
            }
        }


        // Sub Total
        tbody tr:last-child {
            td {
                font-size: @font-swatch4-font-size;
                border-top: 1px solid darken(@color-swatch1,10%);
                border-bottom: 2px solid darken(@color-swatch1,10%);
                @media @mobile {
                    text-align: left;
                    border-top: 0;
                    border-bottom: 0;
                    font-size: bkscale(@font-swatch4-font-size, 0.9);
                }

                &.basket-summary-subtotal {
                    text-align: right;
                    @media @mobile {
                        border-top: 2px solid darken(@color-swatch1,10%);
                        border-bottom: 2px solid darken(@color-swatch1,10%);
                    }

                }

            }

        }

    }


    // Ts & Cs
    .basket-summary-legal-links {
        margin-top: 2em;
        list-style-type: none;
    }

}





// -----------------------------
// Single Product
// -----------------------------


.widget.ecomproduct .ecom-product {
	// Product Info
	.ecom-product-vartitle,
	.ecom-product-category,
	.ecom-product-tag {
		font-family: @font-swatch4-font-family;
		font-size: 15px;
		font-weight: @font-swatch4-font-weight;
		line-height: @font-swatch4-line-height;
		letter-spacing: @font-swatch4-letter-spacing;
		color: @font-swatch4-color;
	}

    .ecom-product-info {
        padding-bottom: 25px;
    }


	// Product Preview
	.ecom-product-preview-image-wrap {
		img {
		}
	}


	// Price
	.ecom-product-price {
		color: @color-swatch5;
		font-size: 20px;
	}

	.ecom-product-variation {
		padding: 4px 0;
		margin-top: 10px;
	}


	// Select
	.ecom-product-info .ecom-product-variation select {
		display: block;
		width: auto;
    	height: 35px;
    	margin-bottom: 12px;
        padding: 8px 33px 8px 8px;
        border: 1px solid darken(@color-swatch1,10%);
        background-color: darken(@color-swatch1,4%);
        color: @color-swatch5;
        cursor: pointer;
        min-width: 20%;
        &:focus {
			outline: 0;
        }
        @media @mobile {
            width: 100%;
        }
	    &::-ms-expand {
	        display: none;
	    }
	    &[name="displayCount"] {
	        margin-bottom: 0;
	    }
	    @supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
			// All the classes that you've added a custom dropdown arrow to
			.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select, 
			select,
			.svg .widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select, 
			.svg select {
			// Remove the arrow added to the background
			background-image: none;
		  }

		}

	}


	// Add to Cart Button
	.btn.ecom-product-add-to-cart-btn {
	    &:hover {
	    	background-color: darken(@color-swatch2,10%);
            & span.text {
                color: @color-swatch1;
            }
	    }

		// Added
		&.added {
			background-color: green;
			border: 3px solid green;
		}
	}

	// Go to checkout button

	.ecom-product-go-to-checkout-btn-wrapper {
		margin-bottom: 20px;
	}

	a.btn.ecom-product-go-to-checkout-btn {
		text-decoration: none;
		&:hover {
			background-color: darken(@color-swatch2,10%);
		}
	}


	// Product Category Info
	.ecom-product-category {
		position: relative;
	}

	.ecom-product-cattag {
		margin: 4px 0 0;
	}


	// Category Separation
	.ecom-product-tag-link:first-child:before, .store-category-link:first-child:before {
		content: ':';
        color: @color-swatch5;
        padding-right: 4px;
	}

	// Product Description
	.ecom-product-long-description {
		padding: 20px 0;
		margin-bottom: 30px;
		border-top: 1px solid @color-swatch2;
	}

}



// -----------------------------
// #Checkout Table
// -----------------------------


.widget.ecomcheckout {
	margin-bottom: 30px;
	h2 {
        padding-bottom: 20px;
        }

	table {
		margin-bottom: 30px;
		border-bottom: 0;
		@media @mobile {
			border-bottom: 1px solid @color-swatch2;
		}


		// Heading Row
		tr:first-child {
	        background-color: @color-swatch7;
	        -webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-topleft: 4px;
			-moz-border-radius-topright: 4px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			font-family: @font-swatch4-font-family;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 1px;
			color: @font-swatch4-color;
			text-transform: uppercase;
			@media @mobile {
				font-size: 12px;
			}
			th:first-child {
				padding-left: 10px;
			}
			th:last-child {
				padding: 0 10px;
				text-align: left;
				@media (max-width: 360px) {
					display: none;
				}
			}
		}


		// Item Row
		tr th,
		tr th:nth-child(3) {
			padding: 0;
			border: 0;
		}
		tr td {
			@media (max-width: 360px) {
				float: left;
				display: table;
				width: 100%;
				border-bottom: 0;
			}
			&:nth-child(1) {
				padding: 20px;
				width: auto;
				@media @mobile {
					padding: 20px 10px;
				}
				@media (max-width: 360px) {
					padding: 20px;
				}
			}
			&:nth-child(2) {
				position: relative;
				padding: 24px 10px 60px;
				@media @mobile {
					padding: 20px 10px 10px 0;
				}
				@media (max-width: 360px) {
					padding: 0 20px;
				}
			}
			&:nth-child(3) {
				padding: 10px 20px 10px 10px;
				// background-color: 1px solid @color-swatch2;
				text-align: left;
				@media @mobile {
					padding: 20px 10px;
					line-height: 16px;
				}
				@media (max-width: 360px) {
					padding: 10px 20px;
					border-left: 0;
					border-top: 1px solid @color-swatch2;
				}
			}
			.checkout-quantitybtn {
				padding: 0 10px;
				margin: 0;
				border: 1px solid darken(@color-swatch7, 10%);
				@media @mobile {
					background-color: transparent;
					padding: 0;
					border: 0;
					margin-bottom: 20px;
				}
				button {
					width: 20px;
					height: 20px;
					background-color: lighten(@color-swatch5,15%);
					font-size: 13px;
					font-family: @font-swatch4-font-family;
					color: @color-swatch1;
					line-height: 17px;
					&:focus {
						outline: none;
					}
				}
				span {
					width: 46px;
					font-family: @font-swatch4-font-family;
					font-size: 16px;
					letter-spacing: @font-swatch4-letter-spacing;
					color: @font-swatch4-color;
					@media @mobile {
						width: 36px;
					}
				}
			}
		}

		tr:last-child td:first-child {
			@media (max-width: 360px) { 
				display: none;
			}
		}


		// Quantity
		.checkout-productname,
		.checkout-quantity,
		.checkout-subtotal {
			font-family: @font-swatch4-font-family;
			font-size: 18px;
			font-weight: @font-swatch4-font-weight;
			line-height: @font-swatch4-line-height;
			letter-spacing: @font-swatch4-letter-spacing;
			color: @font-swatch4-color;
		}

		.checkout-quantitybtn,
		.checkout-quantity {
			position: absolute;
			right: 20px;
			width: 117px;
			@media (max-width: 940px) {
				position: relative;
				top: 0;
				right: 0;
			}
		}

		.checkout-quantity {
			top: 10px;
			font-size: 16px;
			color: @color-swatch5;
			@media @mobile {
				top: 0;
			}
		}

		.checkout-quantitybtn {
			top: 45px;
			@media (max-width: 940px) {
				top: 10px;
			}
			@media @mobile {
				top: 0;
			}
		}
		.checkout-pricepu {
			line-height: 26px;
			@media @mobile {
				line-height: inherit;
			}
		}
		.checkout-productname,
		.checkout-quantity,
		.checkout-subtotal {
			@media @mobile {
				font-size: 14px;
				line-height: 16px;
			}

		}

	}


	// Delivery
	.delivery {
		@media @mobile {
			border: 0;
		}
	}
	.delivery-title {
		font-family: @font-swatch2-font-family;
		font-size: @font-swatch2-font-size;
		font-weight: @font-swatch2-font-weight;
		line-height: @font-swatch2-line-height;
		letter-spacing: @font-swatch2-letter-spacing;
		color: @font-swatch2-color;
	}


	// Continue to Payment Button
	.checkout-order-button {
		margin-bottom: 30px;
		&:disabled {
			opacity: 0.2;
		}
	}


	//

	.js-shipping-opts {
		border-bottom: 1px solid darken(@color-swatch1,10%);
		padding-bottom: 20px;
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 20px;
		label {
			margin-bottom: 10px;
		}
	}
}

// Proceed to checkout button
button.btn.basket-summary-submit {
    margin-bottom: 30px;
}


/* ===============================
   SLIDESHOW WIDGET
   =============================== */
.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title,
    .description {
        display: block;
        font-size: 15px;
        padding: 5px 0 5px 10px;
    }
    .description {
      padding-top: 0;
    }
    .content-wrapper {
        background: rgba(0,0,0,0.5);
    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            @media @mobile {
                width: 30px;
                height: 30px;
            }
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 8px;
                @media @mobile {
                    top: 4px;
                }
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 8px;
                @media @mobile {
                    top: 4px;
                }
            }
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 0;
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch5;
            }
        }
    }
}

.widget.responsiveslideshow .btn-play:after {
    font-size:20px;
}

.widget.responsiveslideshow .slideshow-widget .btn-play {
    background: rgba(0,0,0,0.5);
    font-size: 0;
    text-indent: -99999px;
    position: absolute;
    cursor: pointer;
    z-index: 12;
    width: 42px;
    height: 42px;
    top: -5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @media @mobile {
        width: 30px;
        height: 30px;
    }
}

.widget.responsiveslideshow .slideshow-widget .btn-play:after {
    top:-4px;
    @media @mobile {
        top: -12px;
    }
}

/* ===============================
   7. RESPONSIVE
   =============================== */

@media (max-width: 780px) {

	.widget .extendednavigation a.pull {
		// top: 0;
	}

	.left, .right {
		text-align: left;
		float: none;
	}	
	.footer {
		> p a {
			margin: 0 1em;
		}
	}
	.article {
		padding: 20px;
		img {
			position: relative;
			display: block;
			margin: 0 auto;
		}
	}
	.widget .extendednavigation ul {
		li {
			padding: 0;
			&:hover ul {
				margin: 0;
			}
		}
	}
	.blog-post-feature-image-wrap {
		background-image: none;
		position: relative;
		float: right;
		padding-left: 20px;
		padding-bottom: 20px;
		top: auto;
		right: auto;
		bottom: auto;
		width: auto;
		img {
			display: block;
		}
	}
	.blog-post-content, .blog-post-item.has-image .blog-post-summary, .blog-post-item.has-image h2, .blog-post-item.has-image .blog-post-content, .blog-post-item.has-image .blog-post-body {
		padding-right: 0;
	}
	.blog-post-item.has-image .blog-post-publish-date {
		text-shadow: none;
		color: @color-swatch4;
	}
	.widget .extendednavigation ul {
		padding-top:20px;
		li {
			border:0;
		}
	}
	.header, .bloglist-page .blog-post-item, .blogpost-page, .default-page, .menu-page, .home-page, .gallery-featured, .contact-page, .about-page {
		margin-top:10px;
	}
	select {
		width:100%;
	}
	.blogpost .blog-post-feature-image-wrap, .blog-post-list .blog-post-feature-image-wrap {
		width:100%;
	}

}

@media (max-width: 480px) {
	
	header {
		text-align: center;
	}

	.widget.logo {
		width: 100%;
	}

	.blog-post-item, .blogpost-page {
		&.has-image {
			.blog-post-content, .blog-post-body, .blog-post-summary h2 {
				padding-right: 0;
			}
			.blog-post-publish-date, .blog-post-published-date {
				text-shadow: none;
				color: @color-swatch4;
			}
		}
	}

	.widget.companyname a {
		font-size:bkscale(@font-swatch10-font-size, 0.8);
		line-height: bkscale(@font-swatch10-line-height, 0.8);
	}
	.widget.blogsearch input[type=search], .widget.blogsearch input[type=search]:focus {
		width:48%;
	}
	.widget.responsiveslideshow .slideshow-widget .btn-play {
		width: 16%;
		left: 42%;
	}
	.logo-title {
		padding-top:0;
	}
	.widget.responsiveslideshow .slideshow-widget .btn-play {
		width: 15%;
		left: 0%;
	}
	.widget .extendednavigation a.pull:after {
		left:5px;
	}
}